<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load robot_extras %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'robot/css/styles.css' %}">
    <script src="{% static 'robot/scripts/script.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <a href={% url 'start_parser' %} class="start_link">Modifica</a>
        {% if condition.content == False %}
            <p class="status">Robotul este <span class="spec">dezactivat</span></p>
        {% else %}
            <p class="status">Robotul este <span class="spec">activat</span></p>
        {% endif %}
    </div>
    <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column1">link</th>
                                <th class="column2">login</th>
                                <th class="column3">cu plata</th>
                                <th class="column4">data postarii</th>
                            </tr>
                        </thead>
                    {% for cat in category %}
                        <tbody>
                            <tr class="table100-head">
                                <th class="column1 cat">{{ cat.content }}</th>
                                <th class="column2 cat" collspan="2">{{ links|get_username:cat}}</th>
                                <th class="column3 cat"></th>
                                <th class="column4 cat"></th>
                            </tr>
                        {% for link in links|in_category:cat %}
                            <tr>
                                <td class="column1">{{ link.content }}</td>
                                <td class="column2" collspan="2"></td>
                                <td class="column3">{{ link.payment }}</td>
                                <td class="column4">{{ link.post_date }}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    {% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>