<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'robot/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <a href={% url 'start_parser' %} class="start_link">Modifica</a>
        {% if condition.content == False %}
            <p class="status">Robotul este <span class="spec">dezactivat</span></p>
        {% else %}
            <p class="status">Robotul este <span class="spec">activ</span></p>
        {% endif %}
    </div>
</body>
</html>