{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">link</th>
        <th scope="col">login</th>
        <th scope="col">cu plată</th>
        <th scope="col">data postării</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for cat in category %}
        <tr class="category">
            <th class="gray"></th>
            <td>{{ cat.name }}</td>
            <td></td>
            <td></td>
            <td><th class="gray">
                <a data-id="{{cat.id}}c" class="delete_button" data-toggle="modal" data-target="#delete_modal">
                    <span class="red"><i class="fa fa-trash-o" style="font-size:24px"></span></i>
                </a>
            </th></td>
        </tr>
            {% for link in cat.link_category.all %}
            <tr>
                <th>{{forloop.counter}}</th>
                <td>{{ link.content }}</td>
                <td>{{ link.account.username}}</td>
                <td>
                    {% if link.payment == True %}
                    Da
                    {% else %}
                    Nu
                    {% endif %}
                </td>
                <td>
                    {% if link.post_date == None %}
                    Nu a fost postat
                    {% else %}
                    {{link.post_date}}
                    {% endif %}
                </td>
                <td>
                    <a data-id="{{link.id}}l" class="delete_button" data-toggle="modal" data-target="#delete_modal">
                        <span class="red"><i class="fa fa-trash-o" style="font-size:24px"></span></i>
                    </a>
                </td>
            </tr>
                {% endfor %}
    {% endfor %}
    </tbody>
  </table>